@import url('../css/common.css');
@font-face { font-family: YouandiModernTR; src: local('YouandiModernTR'),  url('../fonts/YouandiModernTR.ttf'); }
   
    *{
        box-sizing: border-box;
    }   

    header {
        height: 80px;
        width: 100%;
        border-bottom: 2px solid rgb(233, 233, 233);
        font-weight: 800;
        font-size: 0.7em;
        font-family:YouandiModernTR;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header nav{
        display: flex;
        margin-left: 35px;
    }
    
    header .right_nav li, header .left_nav li{
        display: inline-block;
        line-height: 80px;
        height: 100%;
    }
    header .left_nav li{
        font-size: 18px;
        font-weight: 700;
        padding: 0 15px;
    }
    
    header .right_nav{
        /* border: 1px solid purple; */
        margin-left: 450px;
    }

    header .right_nav li{
        color: #5c5c5c;
        padding: 0 10px;
        font-size: 14px;
    }
    
    header h1{
        /* border: 1px solid black; */
        margin-left: 35px;
    }
    
    header h1 img{
        width: 145px;
        /* border: 1px solid green; */
        padding-top: 10px;
    }
    
    header .search{
        border: 1px solid black;
        width: fit-content;
        border-radius: 50px;
        height: 30px;
        padding: 20px;
        margin-left: 10px;
  }
    
    .container{
        display: flex;
        font-size: 14px;
    }
    
    .container .left_col{
        font-family:YouandiModernTR;
        /* background: lightblue; */
        border-right: 1px solid lightgray;
        width: 80%;
        margin-left: 8%;
        margin-top: 10px;
    }
    
    .container .left_col .second{
        margin-top: 50px;
        padding-left: 15px;
    }

    .container .left_col .VisualBannerCms{
        margin-top: 55PX;
    }

    .container .left_col .VisualBannerCms img:first-child{
        width: 580px;
        height: 440px;
        padding-left: 0px;
    }

    .container .left_col .line{
        border-bottom: 1px solid lightgray;
    }

    .container .left_col .VisualBannerCms img{
        justify-content: space-around;
        width: 299px;
        height: 440px;
        padding-left: 22px;
    }

    .container .card_plate{
        font-size: 14px;
        font-weight: 700;
    }

    .container .card_plate h2{
        padding-top: 10px;
        font-size: 40px;
        font-weight: 800px;
        line-height: 52px;
    }

    .container .card_plate .left {
        line-height: 25px;
    }

    .container .card_plate .cp_list {
        padding-top: 20px;
    }

    .container .card_plate .cp_list li{
        border: 1px solid gray;
        background-color: #fff;
        width: fit-content;
        padding: 8px;
        border-radius: 20px;
        margin-top: 5px ;
        font-weight: 600;
    }

    .container .cp_card_list li{
        flex-direction: column;
    }

    .container .cp_card_list img{
        margin: 0 auto;
        width: 95px;
        height: 150px;
    }

    .container .cp_card_list .card_name{
        text-align:center;
        font-size: 0.9em;
        font-weight:700 ;
        margin-top: 15px;
        margin-bottom: 50px;
        line-height: 25px;
    }
    
    .container .second{
        margin-top: 20px;
        display: flex;
        width: fit-content;
    }

    .container .second .card_plate {
        width: fit-content;
        margin-right: 75px;
    }
    

    .container .cp_card_list{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }

    .container .cp_card_list li{
        display: flex;
        width: 25%;
    } 
    
    .container .last{
        padding-bottom: 200px;
    }

    .container .last .box :first-child{
        margin-left: 0;
    }

    .container .last .box{
        display: flex;
        flex-wrap: wrap;
    }
    
    .container .last .box li div{
        width: 280px;
        height: 280px;
        display: flex;
        margin: 25px 17px 20px 0;
        border-radius: 20px;
        overflow: hidden;
    }

    
    .container .last .box li p{
        font-size:15px ;
        width: fit-content;
        font-weight: 800;
        margin-top: 8px;
    }
    /* 왼쪽 영역 끝  */



    /* 오른쪽 영역 시작  */
    .container .right_col{
        font-weight: 700;
        font-size: 14px;;
        margin-top: 10px;
        line-height:20px;
        width: 32%;
       
    }

    .container .right_col .box{
        margin-top: 70px;
        margin-left: 64px;
        margin-right: 140px;
        overflow: hidden;
    }

    .right_col h3{
        font-size: 20px;
    }

    .container .right_col .right_login{
        display: flex;
        justify-content: space-between;
    }
    
    .container .right_col .right_login span{
        width: fit-content;

    }

    .right_login_two{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        height: 48px;
    }

    .box .right_login_two span{
        font-weight:700px ;
        border: 2px solid black;
        width: 50%;
        border-radius: 4px;
        text-align: center;
        line-height: 48px; 
    }

    .right_login_two span:first-child{
        margin-right: 5px;
    }

    .right_col .simple_pw{
        margin-top: 40px;
        text-align: center;
    }

    .right_col .simple_pw_circle{
        margin-top: 20px;
        display: inline-flex;
        width: 220px;
        justify-content: space-between;
    }

    .right_col .simple_pw .simple_pw_circle span{
        width: 18px;
        height: 18px;
        border: 1px solid lightgray;
        background: lightgray;
        border-radius: 50%;
    }

    .right_col .simple_pw .simple_pw_button{
        border: 1px solid black;
        background: #000;
        color: #fff;;
        padding: 20px 0;
        border-radius: 4px;
        margin-top: 25px;
        
    }
    .right_col .simple_pw .membership{
        color: gray;
        float: right;
        margin-top: 15px;
    }

    .right_col .simple_pw .simple_pw_quick_menu ul{
        border: 1px solid gray;
        display: flex;
        border-radius: 4px;
        justify-content: space-around;
        margin-top: 70px;
    }

    .right_col .simple_pw .simple_pw_quick_menu ul li{
        border-right: 1px solid lightgray;
        padding: 8px 20px;
        font-size: 12px;
        display: block;
    }

    .right_col .simple_pw .simple_pw_quick_menu img{
        width: 32px;
        height: 32px;
    }


    .right_col .finance{
        margin-top: 40px;
    }

    .finance h3{
        height: 64px;
        line-height: 64px;
    }

    .right_col .finance .finance_list{
        border: 2px solid black;
        border-radius: 15px;
    }

    .right_col .finance .finance_list li{
        border-bottom: 1px solid gray;
        padding: 20px 15px;
    }

    .right_col .finance .finance_list li strong{
        font-size: 16px;
    }

    .right_col .finance .finance_list li p{
        color: gray;
    }

    .right_col .news{
        margin-top: 50px;
    }

    .right_col .news ul{
        margin-top: 30px;
        display: inline-block; 
        width: 295px; 
        white-space: nowrap;
    }
    
    .right_col .news li{
        margin-bottom: 10px;
        font-size: 16px;
    }

    .right_col .news br{
        border: 1px solid lightgrey;
    }

    .right_col .right_banner{
        border-top: 1px solid lightgray;
        margin-top: 20px;
        padding-top: 20px;
        display: flex;
        align-items: center;
    }
    .right_col .right_banner img{
        width: 60px;
        height: 60px;
        border: 1px solid lightgray;
        border-radius: 10px;
    }

    .right_banner span{
        margin-left: 25px;
        font-size: 16px;
    }

    .right_col .consumer{
        margin-top: 60px;
        border-bottom: 1px solid gray;
    }

    .right_col .consumer h3{
        font-size: 16px;
    }    

    .right_col .consumer p{
        margin-top: 15px;
       margin-bottom: 20px;
    }

    .right_col .footer{
        margin-top: 20px;
        font-size: 12px;
        font-weight: bold;
    }

    .right_col .footer .position{
        margin-top: 30px;
    }

    .right_col .footer .position a{
        margin-right: 10px;
    }

    .right_col .footer ul{
        margin-top: 35px;
    }

    .right_col .footer ul li{
        display: flex;
        padding: 1px 0;
    }
    .right_col .footer ul li strong{
        width: 85px;
    }

    .footer .company_introduction li a{
        width: 50%;
        color: gray;
    }

    .footer .company_introduction~p{
        margin-top: 7px;
    }

    .footer address{
        margin-top: 20px;
    }

    .footer_img{
        margin-top: 35px;
    }
    .footer_img img:first-child{
        width: 56px;
        height: 40px;
    }
    .footer_img img:nth-child(2){
        width: 78px;
        height: 40px;
        margin-left: 15px;
    }